/.idea
main.py
.DS_Store
chapter2.py
/chapter3
/chapter4
/chapter05
/chapter06
/chapter07
countries.csv
link_crawler.pyc
process_test.spec
/MyFIrstBookList/test.py
/MyFIrstBookCatalog/test.py
/MyFIrstBookList/*.pyc
/MyFIrstBookCatalog/*.pyc